@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.underlined {
		position: relative;
	}

	.underlined::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 5px;
		@apply bg-indigo-500 bg-opacity-30;
	}
}
